/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

img {
    width: 100%;
    display: block;
}

/* 
    GENERAL
*/

#principal {
    display: flex;
    justify-content: space-between;
}

aside {
    width: 200px;
    height: 100vh;
}

#principal-main {
    width: calc(100% - 200px);
}


/*
    DEBUG
*/

.debug header {
    background-color: red;
}

.debug aside {
    background-color: lightcoral;
}

.debug #principal-main {
    background-color: pink;
}

.debug #principal-main #principal-main-header {
    background-color: yellow;
    min-height: 100px;
}

.debug .row > * {
    border: 1px solid red;
}

.debug .row-cols-1 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.debug .admin {
    border: 1px solid black;
}

.debug .card-body .row{
    border-bottom: 1px solid gray;
}

.debug .card-body .row .col,
.debug .card-body .row .col-1{
    text-align: center;
}

.debug .card-body .row .col-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}